.hero {
    position: relative;
    height: 35vh;
    background: rgb(11, 92, 24, .6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-content {
    z-index: 2;
}
