* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-verde: rgb(11, 92, 24);
    --fuente-2: 'Montserrat', sans-serif;
    --fuente-1: 'Poppins Black', sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.otf') format('opentype');

}

@font-face {
    font-family: 'Poppins Black';
    src: url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}

body {
    font-family: var(--fuente-2);
    overscroll-behavior: none;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: var(--fuente-1);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: var(--fuente-1);
}

h3 {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    font-family: var(--fuente-1);
}

p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}